.container{
  text-align: center;
  background: blue;
  color: white;
  margin-top: 0px;
  padding: 10px;
  font-size: 20px;
}


.scores_container{
  margin-top: 50px;
  align-content: center;
}

.ian{
  text-align: center;
}

.kendra{
  text-align: center;
}

img{
  width: 100%;
}
